{% extends "base.html" %}

{% block main %}
<div>
    {% if promotions %}
            <div class="slideshow-container">
            {% for promotion in promotions %}
                <div class="mySlides fade">
                    <img src="{{ promotion.image.url }}">
                </div>
            {% endfor %}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            
            <div style="text-align:center">
                {% for promotion in promotions %}
                    <span class="dot" onclick="currentSlide({{forloop.counter}})"></span>
                {% endfor %}
            </div>
    {% endif %}

    {% if promotions %}
            <div>
                
            </div>
    {% endif %}
    

    <h1>
        This is Home Page!
    </h1>
</div>
{% endblock main %}