{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}

<div class="form-social-icon-box">
    <a href="{% provider_login_url "google" %}">
        <div class="form-social-icon">
            <i class="fa-brands fa-google"></i>
        </div>
    </a>
    <a href="{% provider_login_url 'github' %}">
        <div class="form-social-icon">
            <i class="fa-brands fa-github"></i>
        </div>
    </a>
    <a href="{% provider_login_url "facebook" %}">
        <div class="form-social-icon">
            <i class="fa-brands fa-facebook"></i>
        </div>
    </a>
</div>

{% endif %}
