<div class="bottom-nav">
    <div class="category">
        <div class="icon">
            <i class="fa-solid fa-mobile"></i>
        </div>
        <p class="title">
            Electronics
        </p>
    </div>

    <div class="category">
        <div class="icon">
            <i class="fa-solid fa-shirt"></i>
        </div>
        <p class="title">
            Fashion
        </p>
    </div>

    <div class="category">
        <div class="icon">
            <i class="fa-solid fa-book"></i>
        </div>
        <p class="title">
            Books
        </p>
    </div>

    <div class="category">
        <div class="icon">
            <i class="fa-solid fa-couch"></i>
        </div>
        <p class="title">
            Furniture
        </p>
    </div>

    <div class="category">
        <div class="icon">
            <i class="fa-solid fa-house"></i>
        </div>
        <p class="title">
            Home &amp; Garden
        </p>
    </div>

    <div class="category">
        <div class="icon">
            <i class="fa-solid fa-clipboard-list"></i>
        </div>
        <p class="title">
            Hobby &amp; Activities
        </p>
    </div>
    
    <div class="category">
        <div class="icon">
            <i class="fa-solid fa-futbol"></i>
        </div>
        <p class="title">
            Sports &amp; Recreation
        </p>
    </div>
</div>