{% load static %}

<div class="main-nav">
    <div class="left">
        <img 
            src="{% static 'image/logo.svg' %}"
            class="nav-logo-img"
        />
    </div>

    <div class="middle">
        <div class="categories-box">
            <div class="icon">
                <i class="fa-solid fa-list"></i>
            </div>

            <p class="title">
                Categories
            </p>
        </div>
        
        <form class="search-bar" method="post">
            <input
                class="search-input" 
                type="text"
                placeholder="Search..."
            />

            <button type="submit" class="search-button">
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <div>
            </button>
        </form>
    </div>

    <div class="right">
        
        <div class="action-box">
            <div class="icon">
                <i class="fa-solid fa-box"></i>
            </div>
            <p class="title">
                Orders
            </p>
        </div>
        
        <div class="action-box">
            <div class="icon">
                <i class="fa-solid fa-heart"></i>
            </div>
            <p class="title">
                Wishlist
            </p>
        </div>
        
        <div class="action-box">
            <div class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <p class="title">
                Cart
            </p>
        </div>
        
        {% if user.is_authenticated %}
            <div class="action-box account-box">
                <div class="user-box">
                    <img class="user-image" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                    {{ user.username }}
                </div>
                <div class="account-info hide" >
                    <a class="account-settings" href="{% url 'profile_page' %}">
                        <p>
                            Settings
                        </p>
                        <div>
                            <i class="fa-solid fa-gear"></i>
                        </div>
                    </a>
                    <a class="logout-btn" href="{% url 'account_logout' %}">
                        <p>
                            Logout
                        </p>
                        <div>
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </div>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="action-box user-account"> 
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                
                <p class="title">
                    Account
                </p>
        
                <div class="auth-box">
                    <a 
                        class="login-btn no-wrap"
                        href="{% url 'account_login' %}"
                    >
                        Sign In
                    </a>
                    <a 
                        href="{% url 'account_signup' %}"
                        class="signup-btn no-wrap"
                    >
                        Sign Up
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
