<div class="top-nav">
    <div class="top-nav-left">
        <div class="icon">
            <i class="fa-regular fa-compass"></i>
        </div>
        <p class="top-nav-text" id="city">
        </p>
        
        <p class="top-nav-text" id="country">
           
        </p>
    </div>
    
    <div class="right">
        <p class="top-nav-text">
            Support
        </p>
        <p class="top-nav-text">
            Contact
        </p>
        <p class="top-nav-text">
            For Sellers
        </p>
    </div>
</div>