*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.user-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2em;
}

.user-photo {
    width: 50px;
    height: 50px;
    background-color: rgb(202, 202, 202);
    border-radius: 50%;
}

.auth-btn-box {
    display: flex;
    gap: 1em;
}

.signup-btn,
.login-btn { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: .5em 1em;
}

.signup-btn { 
    background-color: green;
    color: white;
}

.login-btn {
    border: 1px solid black;
}

.auth-page {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 350px;
    background-color: aqua;
    padding: 2em 2em;
    border-radius: 20px;
}

.auth-page-header {
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

.auth-page-icon {
    font-size: 2em;
    padding: .4em;
    border: 1px solid black;
    border-radius: 10px;
    color: blue;
    background-color: bisque;
}

.auth-page-title {
    font-size: 1.8em;
    font-weight: 550;
}

.auth-page-form {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.form-field {
    height: 35px;
}

.form-input {
    height: 40px;
    width: 100%;
    padding: .5em;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

.form-btn-box {

}

.form-action-btn {
    width: 100%;
    background-color: rgb(54, 54, 252);
    height: 35px;
    color: white;
    border-radius: 5px;
    height: 30px;
    border: none;
    text-transform: uppercase;
}

.social-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8em;
}

.form-social-icon-box {
    display: flex;
    gap: 1em;
}

.form-social-icon {
    font-size: 1.8em;
}

.form-or {
    font-weight: 550;
}



