{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %} 
            <title></title>
        {% endblock title %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_extra %}
        {% endblock head_extra %}
        {% include "./layout/links.html" %}
    </head>
    <body class="body">

        {% block header %}
            <header class="header">
                {% include "./containers/header.html" %}
            </header>
        {% endblock header %}

        {% block main %}
            <main class="main">
            </main>
        {% endblock main %}

        {% block footer %}
            <footer class="footer">
                {% include "./containers/footer.html" %}
            </footer>
        {% endblock footer %}

        {% include "./layout/scripts.html" %}
    </body>
</html>