*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

input {
    border: none;
    outline: none;
}

.no-wrap {
    text-wrap: nowrap;
}

.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
}

.auth-page {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 350px;
    background-color: aqua;
    padding: 2em 2em;
    border-radius: 20px;
}

.auth-page-header {
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

.auth-page-icon {
    font-size: 2em;
    padding: .4em;
    border: 1px solid black;
    border-radius: 10px;
    color: blue;
    background-color: bisque;
}

.auth-page-title {
    font-size: 1.8em;
    font-weight: 550;
}

.auth-page-form {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.form-field {
    height: 35px;
}

.form-input {
    height: 40px;
    width: 100%;
    padding: .5em;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

.form-btn-box {

}

.form-action-btn {
    width: 100%;
    background-color: rgb(54, 54, 252);
    height: 35px;
    color: white;
    border-radius: 5px;
    height: 30px;
    border: none;
    text-transform: uppercase;
}

.social-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8em;
}

.form-social-icon-box {
    display: flex;
    gap: 1em;
}

.form-social-icon {
    font-size: 1.8em;
}

.form-or {
    font-weight: 550;
}

.hide {
    display: none;
}

/* 
    NAVBAR STYLE
*/

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    padding: .3em 2.5em;
    /* padding-bottom: 0.5em; */
    border-bottom: 1px solid black;
}

.top-nav,
.main-nav,
.bottom-nav {
    display: flex;
    align-items: center;
}
/* Top Nav */

.top-nav {
    justify-content: space-between;
}

.top-nav > div {
    display: flex;
    gap: 1em;
}

/* Main Nav => Middle Nav */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    font-size: 1.2rem;
    height: 100%;
}

.title {
    font-size: 1.1em;
}

.main-nav {
    justify-content: space-between;
}

.nav-logo-img {
    width: 200px;
}

.middle {
    display: flex;
    gap: .5em;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.right {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.right .action-box {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.right .icon {
    font-size: 1.5rem;
}

.auth-box {
    display: none;
}

.user-account {
    position: relative;
}

.user-account:hover .auth-box {
    position: absolute;
    display: flex;
    top: 50px;
    padding: .5em 1em;
    gap: .2em;
    border: 1px solid black;
    background-color: white;
    flex-direction: column;
    background-color: white;
}

.signup-btn,
.login-btn { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: .5em 1em;
}

.signup-btn { 
    background-color: green;
    color: white;
}

.login-btn {
    border: 1px solid black;
}

.categories-box {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(32, 20, 64);
    color: white;
    gap: 0.5em;
    padding: 0 0.5em;
}

.categories-box .icon {
    font-size: 1.2rem;
}

.categories-box .title {
    font-size: 1rem;
    font-weight: 550;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 10px;
}

.search-input {
    flex-grow: 1;
    border-radius: 10px;
    padding: 0 0.5em;
    font-size: 1.1rem;
}

.search-icon {
    font-size: 1.4rem;
    font-weight: 400;
}

.search-button {
    height: 100%;
    background-color: transparent;
    border: none;
    color: rgb(32, 20, 64);
    border-radius: 10px 10px 10px 10px ;
    padding: 0 1em;
    background-color: red;
}

/* Bottom Nav */
.bottom-nav {
    display: flex;
    gap: 1em;
}

.bottom-nav .category {
    display: flex;
    gap: 0.3em;
}