*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

input {
    border: none;
    outline: none;
}

.no-wrap {
    text-wrap: nowrap;
}

.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
}

.hide {
    display: none;
}